{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}

{% block content %}
    {% if as_editor_view %}
        {% block editor_view %}
            <ul>
                {% for source_file in source_files %}
                    <li>
                        <span>{{ source_file.name }}</span>
                        <span class="size">({{ source_file.fileSize|format_bytes }})</span>
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% else %}
        {{ block('figure_component') }}
    {% endif %}
{% endblock %}

{% block media %}
    <{{ plyr.media.type }}{{ plyr.media.attributes }}>
        {% for source_attributes in plyr.media.sources %}
            {% do csp_source('media-src', source_attributes.src) %}
            <source{{ source_attributes }}>
        {% endfor %}
        {% for track_attributes in plyr.media.tracks %}
            {% do csp_source('media-src', track_attributes.src) %}
            <track{{ track_attributes }}/>
        {% endfor %}
    </{{ plyr.media.type }}>
    {% if plyr.metadata.caption|default %}
        <figcaption>{{ plyr.metadata.caption }}</figcaption>
    {% endif %}          
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const player = new Plyr('#{{ plyr.media.attributes.id }}');
        });
    </script>
{% endblock %}

{# Add metadata #}
{% block metadata %}
    {% if schema is defined and schema is not empty %}
        {% do add_schema_org(schema) %}
    {% endif %}
{% endblock %}



